<div id="container">
	<%= render 'shared/nav' %>
	<div id="chat-container">
		<header>Chill Out Room</header>
		<div id="chat-box">
			<div class="row">
				<p>This is a message samle</p>
				<span>--author</span>
			</div>
		</div>
		<div id="form-box">
			<%= form_for :message, url: message_path do |f| %>
				<%= f.text_field :content, id: 'message_input' %>
				<%= f.submit 'Send Message' %>
			<% end %>
		</div>
	</div>	
</div>
